body {
    /* Establecer la imagen de fondo */
    background-image: url("/img/backHome.jpg");
  
    /* Ajustar la imagen al tamaño del viewport */
    background-size: cover;
  
    /* Fijar la imagen de fondo para que no se mueva al desplazar la página */
    background-attachment: fixed;
  }
  .switch-label {
    font-size: 1.1rem; 
}

